root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.rb]
indent_style = spaces
indent_size = 2

[*.feature]
indent_style = spaces
indent_size = 2

[*.yml]
indent_style = spaces
indent_size = 2
